body {
    /* Mint Cream */
    background-color: rgb(234, 242, 239);
}

/* ============================= Title, Description =============================*/

h1 + p {
    margin-top: 1.5rem;
}

#jumbo-row {
    text-align: center;
    margin: 2rem 0 3rem 0;
}

/* ============================= Form, Filters =============================*/

.start-here-btn {
    width: 130px;
    height: 38px;
}

form h4, h5 {
    font-weight: bold;
    text-align: center;
}

h5 {
    /* Thinking about adding a border around .filter-students later, leave margin top at 3rem. */
    margin: 3rem 0 1rem 0;
}

/* House Filter buttons */
#gryffindor {
    color: white;
    background-color: rgb(235, 5, 9);
    border: none;
}

#hufflepuff {
    color: black;
    background-color: rgb(255, 216, 0);
    border: none;
}

#ravenclaw {
    color: white;
    background-color: rgb(18, 34, 87);
    border: none;
}

#slytherin {
    color: white;
    background-color: rgb(41, 112, 66);
    border: none;
}
/* ============================= 1st Year's and Expelled =============================*/

/* This is one, large div */
.firstYears-and-expelled {
    justify-content: center;
    border: 2px solid black;
    margin-top: 5em; /* Thinking about adding a border around this later, leave margin top at 5em. */
    margin-bottom: 2em;
    text-align: center;
    width: auto;
}

/* The two cards */
.firstYears, .expelled {
    border: 1px solid gray;
    border-radius: 4px;
    height: 500px;
}

.firstYears {
    margin-right: 8px;
}

.expelled {
    margin-left: 8px;
}

.firstYears > p {
    margin-top: 4rem;
}

/* Student card(s) */
.student {
    border-left: 90px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    width: 250px;
    height: auto;
}

#house-color + p {
    margin-top: 0.75em;
}

/* Expelled */
#expelled-army {
    margin-top: 3em;
}

.expelled img {
    margin-bottom: 1.5em;
    width: 250px;
    height: 200px;
}
