h1 + p {
    margin-top: 1.5rem;
}

#jumbo-row {
    text-align: center;
    margin: 2rem 0 3rem 0;
}

h5 {
    /* Thinking about adding a border around .filter-students later, leave margin top at 3rem. */
    margin: 3rem 0 1rem 0;
}

.firstYears, .expelled {
    border: 2px solid black;
    height: 500px;
    margin-top: 5em; /* Thinking about adding a border around this later, leave margin top at 5em. */
    margin-bottom: 2em;
    text-align: center;
}

.expelled img {
    width: 250px;
    height: 200px;
}

.student {
    border-left: 90px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 3px;
    width: 250px;
}

form h4, h5 {
    font-weight: bold;
    text-align: center;
}

#house-color + p {
    margin-top: 0.75em;
}
